n8n-docs/n8n-kevin-tribute-workflow-v4.json
{
  "name": "Kevin Tribute - With Folder Creation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kevin-tribute",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "kevin-tribute"
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming webhook data\nconst items = $input.all();\nconst item = items[0];\n\n// Get metadata from form fields or body\nconst body = item.json.body || item.json;\nconst metadata = {\n  contributor_name: body.contributor_name || 'Unknown',\n  department: body.department || '',\n  message: body.message || '',\n  category: body.category || 'audio',\n  file_name: body.file_name || 'upload',\n  file_type: body.file_type || '',\n  timestamp: body.timestamp || new Date().toISOString(),\n};\n\n// Determine if this is audio or image\nconst isAudio = metadata.category === 'audio' || \n  metadata.file_type?.startsWith('audio/') ||\n  metadata.file_name?.match(/\\.(mp3|wav|m4a|webm|ogg|aac)$/i);\n\n// Clean folder name (remove special chars)\nconst cleanName = metadata.contributor_name.replace(/[^a-zA-Z0-9\\s]/g, '').replace(/\\s+/g, '_');\n\nreturn [{\n  json: {\n    ...metadata,\n    isAudio,\n    cleanContributorName: cleanName,\n    uploadTimestamp: new Date().toISOString()\n  },\n  binary: item.binary\n}];"
      },
      "id": "extract-metadata",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "queryString": "=name = '{{ $json.cleanContributorName }}' and mimeType = 'application/vnd.google-apps.folder' and 'KEVIN_PARENT_FOLDER_ID' in parents and trashed = false",
        "options": {
          "fields": "id, name"
        }
      },
      "id": "search-folder",
      "name": "Search for Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [640, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ]
        }
      },
      "id": "folder-exists",
      "name": "Folder Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "={{ $('Extract Metadata').item.json.cleanContributorName }}",
        "options": {
          "parents": ["KEVIN_PARENT_FOLDER_ID"]
        }
      },
      "id": "create-folder",
      "name": "Create Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1040, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get folder ID from either search result or newly created folder\nconst items = $input.all();\nconst item = items[0];\n\n// Get metadata from earlier node\nconst metadata = $('Extract Metadata').item.json;\nconst binary = $('Extract Metadata').item.binary;\n\n// Folder ID comes from either search result or create result\nconst folderId = item.json.id;\n\nreturn [{\n  json: {\n    ...metadata,\n    targetFolderId: folderId\n  },\n  binary: binary\n}];"
      },
      "id": "merge-folder-id",
      "name": "Set Folder ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isAudio }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-audio",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.file_name }}",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.targetFolderId }}"
        },
        "options": {}
      },
      "id": "upload-audio",
      "name": "Upload Audio",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1640, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.file_name }}",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.targetFolderId }}"
        },
        "options": {}
      },
      "id": "upload-image",
      "name": "Upload Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1640, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "en"
        }
      },
      "id": "transcribe-audio",
      "name": "Transcribe (Whisper)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1840, 200],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Set Folder ID').item.json.uploadTimestamp }}",
            "Contributor": "={{ $('Set Folder ID').item.json.contributor_name }}",
            "Department": "={{ $('Set Folder ID').item.json.department }}",
            "Type": "Audio",
            "File Name": "={{ $('Set Folder ID').item.json.file_name }}",
            "Message": "={{ $('Set Folder ID').item.json.message }}",
            "Transcription": "={{ $json.text }}",
            "Drive Link": "={{ $('Upload Audio').item.json.webViewLink }}"
          }
        },
        "options": {}
      },
      "id": "log-audio-sheet",
      "name": "Log Audio to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2040, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Set Folder ID').item.json.uploadTimestamp }}",
            "Contributor": "={{ $('Set Folder ID').item.json.contributor_name }}",
            "Department": "={{ $('Set Folder ID').item.json.department }}",
            "Type": "Image",
            "File Name": "={{ $('Set Folder ID').item.json.file_name }}",
            "Message": "={{ $('Set Folder ID').item.json.message }}",
            "Transcription": "",
            "Drive Link": "={{ $('Upload Image').item.json.webViewLink }}"
          }
        },
        "options": {}
      },
      "id": "log-image-sheet",
      "name": "Log Image to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1840, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Search for Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Folder": {
      "main": [
        [
          {
            "node": "Folder Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder Exists?": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Set Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder ID": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Upload Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio": {
      "main": [
        [
          {
            "node": "Transcribe (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe (Whisper)": {
      "main": [
        [
          {
            "node": "Log Audio to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Log Image to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
