n8n-docs/n8n-kevin-tribute-workflow-v3.json
{
  "name": "Kevin Tribute - Audio/Image Handler with Transcription",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kevin-tribute",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "kevin-tribute"
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming webhook data\nconst items = $input.all();\nconst item = items[0];\n\n// Get metadata from form fields\nconst metadata = {\n  contributor_name: item.json.body?.contributor_name || item.json.contributor_name || 'Unknown',\n  department: item.json.body?.department || item.json.department || '',\n  message: item.json.body?.message || item.json.message || '',\n  category: item.json.body?.category || item.json.category || 'audio',\n  file_name: item.json.body?.file_name || item.json.file_name || 'upload',\n  file_type: item.json.body?.file_type || item.json.file_type || '',\n  timestamp: item.json.body?.timestamp || item.json.timestamp || new Date().toISOString(),\n};\n\n// Determine if this is audio or image based on category or mime type\nconst isAudio = metadata.category === 'audio' || \n  metadata.file_type?.startsWith('audio/') ||\n  metadata.file_name?.match(/\\.(mp3|wav|m4a|webm|ogg|aac)$/i);\n\nconst isImage = metadata.category === 'image' || \n  metadata.file_type?.startsWith('image/') ||\n  metadata.file_name?.match(/\\.(jpg|jpeg|png|gif|webp|heic)$/i);\n\nreturn [{\n  json: {\n    ...metadata,\n    isAudio,\n    isImage,\n    folderName: `kevin/${metadata.contributor_name.replace(/[^a-zA-Z0-9]/g, '_')}`,\n    uploadTimestamp: new Date().toISOString()\n  },\n  binary: item.binary\n}];"
      },
      "id": "extract-metadata",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isAudio }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-audio",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Extract Metadata').item.json.file_name }}",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract Metadata').item.json.folderName }}"
        },
        "options": {}
      },
      "id": "upload-audio",
      "name": "Upload Audio to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1240, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Extract Metadata').item.json.file_name }}",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract Metadata').item.json.folderName }}"
        },
        "options": {}
      },
      "id": "upload-image",
      "name": "Upload Image to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1240, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "en",
          "temperature": 0
        }
      },
      "id": "transcribe-audio",
      "name": "Transcribe Audio (Whisper)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1440, 200],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Extract Metadata').item.json.uploadTimestamp }}",
            "Contributor": "={{ $('Extract Metadata').item.json.contributor_name }}",
            "Department": "={{ $('Extract Metadata').item.json.department }}",
            "Type": "Audio",
            "File Name": "={{ $('Extract Metadata').item.json.file_name }}",
            "Message": "={{ $('Extract Metadata').item.json.message }}",
            "Transcription": "={{ $json.text }}",
            "Drive Link": "={{ $('Upload Audio to Drive').item.json.webViewLink }}"
          }
        },
        "options": {}
      },
      "id": "log-audio-sheet",
      "name": "Log Audio to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1640, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Extract Metadata').item.json.uploadTimestamp }}",
            "Contributor": "={{ $('Extract Metadata').item.json.contributor_name }}",
            "Department": "={{ $('Extract Metadata').item.json.department }}",
            "Type": "Image",
            "File Name": "={{ $('Extract Metadata').item.json.file_name }}",
            "Message": "={{ $('Extract Metadata').item.json.message }}",
            "Transcription": "",
            "Drive Link": "={{ $('Upload Image to Drive').item.json.webViewLink }}"
          }
        },
        "options": {}
      },
      "id": "log-image-sheet",
      "name": "Log Image to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1440, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Upload Audio to Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio to Drive": {
      "main": [
        [
          {
            "node": "Transcribe Audio (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (Whisper)": {
      "main": [
        [
          {
            "node": "Log Audio to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Drive": {
      "main": [
        [
          {
            "node": "Log Image to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
